[submodule "Klockan-Keycloak"]
	path = Klockan-Keycloak
	url = git@github.com:JU-DEV-LatamBootcamp/Klockan-Keycloak.git
[submodule "Klockan-Frontend"]
	path = Klockan-Frontend
	url = git@github.com:JU-DEV-LatamBootcamp/Klockan-Frontend.git
[submodule "Klockan-Backend"]
	path = Klockan-Backend
	url = git@github.com:JU-DEV-LatamBootcamp/Klockan-Backend.git
